:root {
    --primary-color: #BFBFBF;
    --secondary-color: #0F0F0F;
    --tertiary-color: #575757;
    --alternate-color: #fff;
    --desktop-container: 84%;
    --mobile-container: 92%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    line-height: 1.75;
    color: var(--secondary-color);
    background-color: var(--alternate-color);
}

.container {
    margin: 0 auto;
    width: var(--desktop-container);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

a {
    color: var(--secondary-color);
    transition: all 300ms ease;
}

h1, h2, h3, h4 {
    color: var(--secondary-color);
}

h1 {
    font-size: 2rem;
}
.btn {
    padding: 5px 20px;
    font-weight: 600;
    color: var(--alternate-color);
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: var(--alternate-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-primary {
    background-color: var(--secondary-color);
    color: var(--alternate-color);
}

section {
    padding: 8rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}
/* END OF GENERAL STYLING */

nav button {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav, ul, .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bolder;
}

.logo:hover {
    color: var(--primary-color);
}

nav ul a.active {
    border-bottom: 3px solid var(--secondary-color);  
}

nav a:hover {
    color: var(--primary-color);
}
/* END OF HEADER STYLING */

section[id="home"] .container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr)
    minmax(min-content, 1fr);
    align-items: center;
    gap: 2rem;
}

article[class="info"] .delivery {
    background-color: var(--primary-color);
    width: max-content;
    padding: 0px 10px;
    margin-bottom: 1rem;

}

article[class="info"] p {
    font-size: larger;
    margin: 1rem auto;
}
/* END OF HOME STYLING */

section[id="phones"] .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
}

section[id="phones"] h3 {
    padding: 1rem;
}
/* END OF PHONES STYLING */

section[id="refurbished"] .container {
    background-image: url("images/pexels-david-bartus-963278.avif");
    background-color: var(--alternate-color);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section[id="refurbished"] .text, .p-text, .fa-money-check-dollar, 
.fa-screwdriver-wrench, .fa-globe {
    color: var(--alternate-color);
}

section[id="refurbished"] .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
}

article[class="refurb"] {
    padding: 1rem;
    background-color: var(--secondary-color);
    text-align: center;
}
